.leaderboard {
  color: #776e66;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: capitalize;
}

.leaderboard__table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
}

.leaderboard__table tr {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.2em;
    font-family: sans-serif;
    min-width: 400px;
    text-align: center;
}

.leaderboard__table th,
.leaderboard__table td {
    padding: 12px 15px;
}

.leaderboard__tablehead {
    font-family: "Fredoka One", cursive;
    background-color: #776e66;
    color: #fff;
    border-spacing: 8px 10px;
    border: none;
}

.leaderboard tbody tr {
    border-bottom: 1px solid #dddddd;
}

.leaderboard tbody tr:nth-of-type(even) {
    background-color: #cdbeaf;
}