.board {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background: #776e66;
  gap: 5px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  position: relative;
  animation: popin 1s;
}

.board__square {
  background-color: #faf8ee;
  border-radius: 2px;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  color: #776e66;
  cursor: pointer;
  font-family: "Fredoka One", cursive;
}

.board__mark {
  will-change: transform;
  animation: appear 0.2s cubic-bezier(0.5, 1.8, 0.1, 1.1);
}

.board__mark.X {
  color: #f59564;
}
.board__mark.O {
  color: #7764f5;
}

.board__mark--blinking {
  will-change: transform;
  animation: blinking .8s infinite cubic-bezier(0.5, 1.8, 0.1, 1.1);
}

.board__mark--off {
  opacity: 0.3;
}

.board__restartOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 9;
}

@media only screen and (min-width: 620px) {
  .board {
    width: 450px;
    height: 450px;
  }

  .board__square {
    font-size: 7em;
  }
}

@keyframes appear {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes blinking {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes popin {
  0% {
    clip-path: circle(0%);
  }
  100% {
    clip-path: circle(100%);
  }
}