.game {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game__score {
  display: flex;
  justify-content: center;
  width: 450px;
  color: #776e66;
  font-size: 0.9em;
  gap: 15px;
  margin: 30px 0;
}

.game__player span {
  display: block;
  text-align: center;
  margin-bottom: 20px;
}

.game__player span.X {
  color:#f59564
}

.game__player span.O {
  color: #7764f5;
}

.game__player span.score-anim{
  will-change: transform;
  animation: increment .5s 1 cubic-bezier(0.5, 1.8, 0.1, 1.1) ;
}

@media only screen and (min-width: 620px) {
  .game__score {
    font-size: 1.2em;
    gap: 50px;
  }
}

@keyframes increment {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(1.7);
  }
  80% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}